.location{
    display: flex;
    width: auto;
    color: black;
    background-color:lightgreen;
    height: 100px;
    align-items: center;
    margin-top: 15px;
    
    border: 1px solid lightgrey;
}